@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #a2ad59;
    --secondary-color: #9b489b;
    --border-color: #e8e9ed;
    --bg-color: #333333;
}

body {
   background-color: var(--secondary-color);
   color: var(--primary-color);
   font-family: 'Poppins', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

div {
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    color: inherit;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}